.relative {
    position: relative;
  }
  
  .bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(16px);
  }
  
  .blur-md {
    filter: blur(10px);
  }
  
  .z-10 {
    z-index: 10;
  }
  